{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>One Piece mangá timeline</title>
</head>
<body style="background:{{ bodycolor }};">
    <aside id="hidden-year" class="hidden-year">
        <a href="#" class="close-btn-year" onclick=closeNavYear()>&times;</a>
        {% for y in years %}
            <a href="{% url 'manga/search' y %}" ><h3>{{ y }}</h3></a>
        {% endfor %}
    </aside>

    <aside id="hidden-saga" class="hidden-saga">
        <a href="#" class="close-btn-saga" onclick=closeNavSaga()>&times;</a>
        {% for s in sagas %}
                <a href="{% url 'manga/search' s.id %}" ><h3>{{ s }}</h3></a>
        {% endfor %}
    </aside>

    <center>
    <h1>One Piece mangá Timeline</h1>

    <div class="select-media-container">
        <a href="{% url 'manga' %}" ><h2> Mangá </h2></a>
        <a href="{% url 'anime' %}" ><h2> Anime </h2></a>
    </div>

    <section id="main" class="media-container">
        <div class="nav-choise">
            <a href="#" onclick=openNavYear() class="open-nav-year">Anos</a>
            <a href="#" onclick=openNavSaga() class="open-nav-saga" >Sagas</a>
        </div>

        <div id="grid" class="grid-view">
            {% for obj in media %}
                <a href="https://onepieceex.net/mangas/leitor/{{ obj.number }}/#1">
                    <div class="grid-item" style="background-color:{{ obj.arc.background_color }}; border-color: {{ obj.arc.background_shadow }}">
                        
                        <p class="number" style="color:{{ obj.arc.text_color }}">{{ obj.number }}</p>

                        {% ifchanged obj.arc.background_color %}
                            <p class="arc-name" style="color:{{ obj.arc.text_color }}">{{ obj.arc.name }}</p>
                        {% endifchanged %}

                        <div class= "hidden-p">
                            <p style="color:{{ obj.arc.text_color }}">{{ obj.title }}</p>
                            <p style="color:{{ obj.arc.text_color }}">{{ obj.year }}</p>
                        </div>

                    </div>
                </a>
            {% endfor %}
        </div>

    </section>
    </center>

    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
</body>
</html>