.hidden-year {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #fcf1b5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.hidden-year a {
    display: block;
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    color:blueviolet;
    font-size: large;
    transition: 0.4s;
}

.hidden-year a:hover {
    color: black;
}
.close-btn-year {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: larger;
    margin-left: 50px;
}

.hidden-saga {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #fcf1b5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.hidden-saga a {
    display: block;
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    color:blueviolet;
    font-size: large;
    transition: 0.4s;
}

.hidden-saga a:hover {
    color: black;
}

.close-btn-saga {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: larger;
    margin-left: 50px;
}

#main {
    padding: 16px;
    transition: margin-left 0.5s;
}