a:link {
  text-decoration: none;
}

a {
  color: black;
  transition: 0.4s;
}

a:hover {
  color: #46B34E;
}

.select-media-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 40px;
}

.media-container {
  display: flex;
  align-items: flex-start;
}

.year-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 5px;
  align-items: center;
  justify-items: center;

  margin-left: 10px;
  margin-right: 10px;
}

.year-container .year {
  color: black;

  text-align: center;
  font-size: 18px;
  
  width: 63px;
  height: 63px;
  margin: 0;
}

.year-container a {
  width: 63px;
  height: 63px;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  margin-left: 34px;
  position: relative;
  grid-row-gap: 4px; 
  grid-column-gap: 4px;
}

.grid-item {
  display: block;
  position: relative;

  text-align: center;
  text-decoration: none;
  font-size: 14px;

  border: 3px solid rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 4px;
  border-radius: 6px;

  width: 60px;
  height: 60px;

  word-break: break-all;

  z-index: 0;
}

.grid-item:not(:has(.arc-name)) {
  display: flex;
  text-align: center;
  align-items: center;
}

.hidden-p {
  visibility: hidden;
  display: none;
  position: relative;
  font-size: auto;
}

.grid-item p {
  margin: 1px;
  margin-top: 2px;
}

.grid-item:hover {
  transform: scale(2.5);
  transition: transform 0.3s ease;
  font-size: auto;
  z-index: 2;
}

.grid-item:hover .hidden-p{
  visibility: visible;
  display: block;
  margin: 4px;
  font-size: 7px;
  text-align: justify;
  word-break: break-all;
}

.grid-item:hover .arc-name {
  visibility: hidden;
  display: none;
}

.grid-item:hover .number {
  visibility: hidden;
  display: none;
}

.saga-container {
  text-align: left;
  margin-left: 15px;
}

.hidden-year {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #ff96bd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.hidden-year a {
  display: block;
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  color:black;
  font-size: large;
  transition: 0.4s;
}

.hidden-year a:hover {
  color: #46B34E;
}

.close-btn-year {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: larger;
  margin-left: 50px;
}

.hidden-saga {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #cffff1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.hidden-saga a {
  display: block;
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  color:black;
  font-size: large;
  transition: 0.4s;
}

.hidden-saga a:hover {
  color: #46B34E;
}

.close-btn-saga {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: larger;
  margin-left: 50px;
}

#main {
  padding: 16px;
  transition: margin-left 0.5s;
}

.open-nav-year {
  position: fixed;
  left:18px;
  top:50%;
}

.open-nav-saga {
  position: fixed;
  left: 18px;
  top: 45%;
}