body {
  font-family:'Times New Roman', Times, serif;
}

h1{
  text-align: center;
}

a:link {
  text-decoration: none;
}

a {
  color: black;
  transition: 0.4s;
}

a:hover {
  color: #46B34E;
}

.select-media-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 40px;
}

.media-container {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  flex-wrap: wrap;
  margin: 0;
  position: relative;
  grid-row-gap: 4px; 
  grid-column-gap: 4px;
}

.grid-item {
  display: block;
  position: relative;
  flex-wrap: wrap;

  text-align: center;
  text-decoration: none;
  font-size: 14px;

  border: 3px solid rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 4px;
  border-radius: 6px;

  min-width: 60px;
  min-height: 60px;
  width: auto;
  height: auto + 10px;

  word-break: break-all;

  z-index: 0;
}

.grid-item:not(:has(.arc-name)) {
  display: flex;
  text-align: center;
  align-items: center;
}

.hidden-p {
  visibility: hidden;
  display: none;
  position: relative;
  font-size: auto;
}

.grid-item p {
  margin: 1px;
  margin-top: 2px;
}

.grid-item:hover {
  transform: scale(2.5);
  transition: transform 0.3s ease;
  font-size: auto;
  z-index: 2;
}

.grid-item:hover .hidden-p{
  visibility: visible;
  display: block;
  margin: 4px;
  font-size: 7px;
  text-align: justify;
  word-break: break-all;
}

.grid-item:hover .arc-name {
  visibility: hidden;
  display: none;
}

.grid-item:hover .number {
  visibility: hidden;
  display: none;
}

.saga-container {
  text-align: left;
  margin-left: 15px;
}

.hidden-year {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #ff96bd;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.hidden-year a {
  display: block;
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  color:black;
  font-size: large;
  transition: 0.4s;
}

.hidden-year a:hover {
  color: #46B34E;
}

.close-btn-year {
  font-size: large;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: larger;
  margin-left: 50px;
}

.hidden-saga {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: #cffff1;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.hidden-saga a {
  display: block;
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  color:black;
  font-size: large;
  transition: 0.4s;
}

.hidden-saga a:hover {
  color: #46B34E;
}

.close-btn-saga {
  position: absolute;
  font-size: large;
  top: 0;
  right: 25px;
  font-size: larger;
  margin-left: 50px;
}

#main {
  padding: 16px;
  transition: margin-left 0.5s;
}

.nav-choise {
  margin-right: 40px;
  font-size: 23px;
}

.open-nav-year {
  writing-mode: vertical-lr;
  position: fixed;
  left:18px;
  top:55%;
}

.open-nav-saga {
  writing-mode: vertical-lr;
  position: fixed;
  left: 18px;
  top: 45%;
}

@media(max-width:1300px){
  .grid-view { grid-template-columns: repeat(16, 1fr); }
}

@media(max-width:1250px){
  .grid-view { grid-template-columns: repeat(15, 1fr); }
}

@media(max-width:1150px){
  .grid-view { grid-template-columns: repeat(14, 1fr); }
}

@media(max-width:1090px){
  .grid-view { grid-template-columns: repeat(13, 1fr); }
}

@media(max-width:1010px){
  .grid-view { grid-template-columns: repeat(12, 1fr); }
}

@media(max-width:950px){
  .grid-view { grid-template-columns: repeat(11, 1fr); }
}

@media(max-width:900px){
  .grid-view { grid-template-columns: repeat(10, 1fr); }
}

@media(max-width:850px){
  .grid-view { grid-template-columns: repeat(9, 1fr); }
}

@media(max-width:800px){
  .grid-view { grid-template-columns: repeat(8, 1fr); }
}

@media(max-width:720px){
  .grid-view { grid-template-columns: repeat(7, 1fr); }
}

@media(max-width:610px){
  .grid-view { grid-template-columns: repeat(6, 1fr); }
}

@media(max-width:550px){
  .grid-view { grid-template-columns: repeat(5, 1fr); }
}

@media(min-height: 900px){
  .grid-view { grid-template-columns: repeat(8, 1fr); }
  .nav-choise {
    font-size: 30px;
  }
}

@media(min-height: 1100px){
  .grid-view { grid-template-columns: repeat(7, 1fr); }
  .nav-choise {
    font-size: 33px;
  }
}

@media(min-height: 1200px){
  .grid-view { grid-template-columns: repeat(6, 1fr); }
  .nav-choise {
    font-size: 36px;
  }
}

@media(min-height: 1300px){
  .grid-view { grid-template-columns: repeat(5, 1fr); }
  .nav-choise {
    font-size: 39px;
  }
}